body {
    font-family: Poppins, sans-serif;
    background: #fafafa;
    text-align: center;
    padding: 40px;
}

.success-container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.order-box {
    margin: 20px 0;
    padding: 15px;
    background: #f8e7ec;
    border-radius: 8px;
}

.home-btn {
    display: inline-block;
    background: #e85a70;
    padding: 12px 25px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.home-btn:hover {
    background: #d94a60;
}
